// @import "../vendor/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap";

$orange: rgb(255,153,51);

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');


@mixin transition($p, $d, $t) {
	transition-property: $p;
	transition-duration: $d;	
	transition-timing-function: $t;
	-webkit-transition-property: $p;
	-webkit-transition-duration: $d;
	-webkit-transition-timing-function: $t;
	-ms-transition-property: $p;
	-ms-transition-duration: $d;
	-ms-transition-timing-function: $t;	
}
@mixin transformOrigin($y, $x) {
	-ms-transform-origin: $y $x; 
    -webkit-transform-origin: $y $x; 
    transform-origin: $y $x;
}
@mixin rotate($d) {
	-ms-transform: rotate($d);
    -webkit-transform: rotate($d); 
    transform: rotate($d); 
}
@font-face {
	font-family: Lato;
	src: url("../../fonts/Lato/Lato-Regular.ttf");
}
body {
	font-family: Lato, sans-serif;
	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}
	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}
	#loader{
		position: fixed;
		left: 50%;
		top: 50%;
		z-index: 200;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border-radius: 50%;
		border-left: 16px solid #1c1c29;
		border-right: 16px solid $orange;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}
	#nav-button {
		display: none;
		position: fixed;
		top: 30px;
		right: 30px;
		z-index: 100;
		button {
			position: relative;
			right: 200px;
			background: transparent;
			border: none;
			opacity: 0;  
			.icon-span {
				display: block;
				width: 45px;
				height: 5px;
				background: #FFF;
				margin: 10px;
				@include transition(all, .3s, ease-out);
			}
			.middle-bar {
				@include transition(all, .1s, ease-out);
			}
			&:focus {
				outline: none;
			}
			&:hover {
				cursor: pointer;
			}
		}
		.active {
			.icon-span {
				width: 55px;
				margin-right: 0;
			}
			.top-bar {
			    @include rotate(45deg);
			    @include transformOrigin (10%, 10%);
			}
			.middle-bar {
			    opacity: 0;
			}
			.bottom-bar {
			    @include rotate(-45deg);
			    @include transformOrigin (10%, 90%);
			}
		}
	}
	#nav-lightbox {
		display: none;
		position: fixed;
		width: 100%;
		min-height: 100vh;
		background: rgba(28,28,41,.95);
		text-align: center;
		z-index: 95;
		ul {
			padding: 0;
			li {
				margin: 25px;
				list-style-type: none;
				a {
					font-size: 2em;
					text-transform: uppercase;
					letter-spacing: -40px;
					text-decoration: none;
					color: rgba(225,225,225,.6);
				}
				.active {
					color: rgb(225,225,225) !important;
				}
			}
		}
		@media screen and (max-width: 960px) and (min-width: 768px) {
			ul {
				margin: 200px 0 0;
			}
		}
		@media screen and (max-width: 767px) and (min-width: 576px) {
			ul {
				margin-top: 150px;
			}
		}
		@media screen and (max-width: 575px) {
			ul {
				li {
					margin: 15px;
					a {
						font-size: 1.5em;
					}
				}
			}
		}
		@media screen and (max-width: 575px) and (min-width: 360px) {
			ul {
				margin-top: 150px;
			}
		}
		@media screen and (max-width: 360px) {
			ul {
				margin-top: 100px;
			}
		}
	}
	#nav-circle {	
		display: none;
		position: fixed;
		z-index: 100;
		ul {
			position: absolute;
			opacity: 0;
			top: 0;
			margin: 0;
			li {
				position: relative;
				list-style-type: none;
				a {
					margin: 3px;
					display: inline-block;
					padding: 5px;
					border: 2px solid #FFF;
					border-radius: 50%;
					
				}
				div {
					display: none;
					position: absolute;
					top: -15px;
					left: 35px;
					background: rgb(28,28,60);
					color: #FFF;
					padding: 15px;
					border-radius: 40px;
					&:before {
						content:" ";
					    border-style: solid;
					    border-width: 10px 15px 10px 0;
					    border-color: transparent  rgb(28,28,60) transparent transparent;
					    position: absolute;
					    left: -13px;
					}
				}
				&:first-child {
					a {
						margin-top: 0;
					}
				}
				.active {
					border: none;
					padding: 7px;
					background: #FFF;
				}
				&:hover {
					a {
						border: none;
						padding: 7px;
						background: #FFF;
					}
					div {
						display: block;
					}
				}
			}
		}
		@media screen and (max-width: 575px) {
			visibility: hidden;
		}

	}
	header {
		position: fixed;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		video {
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
		}
	}
	#container {
		display: none;		
		position: relative;
		top: 0;
		left: 0;
		.sections {
			display: block;
			padding: 0;
			position: absolute;
			z-index: 50;
			width: 100%;
			min-height: 100vh;
			.panel {
				width: 50%;
				min-height: 100vh;
				float: left;
			}
			.titlePanel {
				text-align: center; 
				h2 {
					margin: 0;
					line-height: 100vh;
					font-size: 60px;
					font-weight: lighter;
					color: #FFF;
					font-family: 'Raleway', sans-serif;
				}

			}
		}
		#home{
			text-align: center;
			background: rgba(28,28,41,.85);
			h1 {
				margin: 0;
				line-height: 100vh;
				color: rgba(255,255,255,.8);
				font-size: 56px;
				font-weight: lighter;
				font-family: "Open Sans", sans-serif;
				.orange {
					color: $orange;
				}
				.hidden {
					display: none;
				}
				@media screen and (min-width: 601px) and (max-width: 700px){
					font-size: 40px;
				}
				@media screen and (min-width: 414px) and (max-width: 600px){
					font-size: 36px;
				}
				@media screen and (max-width: 413px) {
					font-size: 30px;
				}
			}
		}
		#about {
			top: 100vh;
			color: #555;
			.titlePanel {
				background: $orange;
			}
			.contentPanel {
				background: #FFF;
				text-align: center;
				img {
					margin: 30px;
					width: 40%;
					height: auto;
					border-radius: 50%;
					// border: 10px dashed $orange;
					box-shadow: 0 0 10px #333;
				}
				p {
					line-height: 30px;
					font-size: 24px;
					margin: 0 100px;
					text-align: right;
					font-family: 'Open Sans', sans-serif;
					font-weight: lighter;
					strong {
						color:  rgb(28,28,60);

					}
					i {
						color: rgb(28,28,60);

					}
				}
			}			
		}
		#skills {
			position: relative;
			top: 200vh;
			.titlePanel {
				background: rgb(28,28,41);
			}
			.contentPanel {
				position: relative;
				background: #FFF;
				table {
					position: absolute;
					width: 100%;
					color: #333;
					tr {
						height: 40px;
						.title {
							width: 20%;
							text-align: right;
							font-weight: bold;
							padding-right: 15px;

						}
						.level {
							width: 70%;
							div {
								height: 25px;
								background: $orange;
							}
						}
						.percent {
							width: 15%;
						}
					}
					#html .level div{
						width: 97%;
					}
					#css .level div{
						width: 95%;
					}
					#sass .level div{
						width: 94%;
					}
					#less .level div{
						width: 82%;
					}
					#bootstrapt .level div{
						width: 87%;
					}
					#javascript .level div{
						width: 85%;
					}
					#jquery .level div{
						width: 87%;
					}
					#php .level div{
						width: 53%;
					}
					#laravel .level div{
						width: 58%;
					}
					#c .level div{
						width: 72%;
					}
					#cpp .level div{
						width: 65%;
					}
					#mysql .level div{
						width: 87%;
					}
					#git .level div{
						width: 72%;
					}
				}
			}
		}
		#particles {
			top: 300vh;
			#particles-js {
				width: 100%;
				height: 400vh;
				background: linear-gradient(to right, rgba(28,28,41,.8), rgb(28,28,41), rgba(28,28,41,.8));
				// background: linear-gradient(to right, rgba(51,51,51,.8), rgb(51,51,51), rgba(51,51,51,.8));
			}

		}
		#resume {
			top: 300vh;
			.sidePanel {
				width: calc( 50% - 40px );
				height: 100vh;
				float: left;
				div {
					p {
						color: #FFF;
						margin: 0;
						line-height: 30px;
						font-family: "Open Sans", sans-serif;
						&:first-child {
							color: $orange;

						}
						&:last-child {
							font-weight: bold;
						}
					}
				}
			}
			.leftPanel {
				text-align: right;
				padding-right: 40px;
				.mb {
					margin-top: 50px;
				}
				.aca {
					margin-top: 150px;
				}
			}
			.rightPanel {
				text-align: left;
				padding-left: 40px;
				.sinam{
					margin-top: 170px;
				}
				.apa {
					margin-top: 150px;
				}
			}
			.centerPanel {
				position: absolute;
				top: 65px;
				left: 50%;
				right: 50%;
				width: 1px;
				height: 490px;
				background: #FFF;
			}
			.center-circle {
				position: absolute;
				right: calc(50% - 15px);
				left: calc(50% - 15px);
				z-index: 1000;
				width: 30px; 
				height: 30px;
				border-radius: 50%;
				background: #FFF;
				i {
					position: absolute;
					color: rgb(28,28,41);
					top: 7px;
					left: 7px;

				}
			}
			#mb-circle {
				top: 50px;
				
			}
			#sinam-circle {
				top: 170px;
			}
			#aca-circle {
				top: 290px;
				i {
					left: 6px;
				}
			}
			#apa-circle {
				top: 410px;
				i {
					left: 6px;
				}
			}
			button {
				top: 555px;
				position: absolute;
				right: calc(50% - 100px);
				left: calc(50% - 100px);
				z-index: 1000;
				width: 200px;
				height: 60px;
				line-height: 56px; 
				background: transparent;
				border: 3px solid $orange;
				color: $orange;
				font-family: "Open Sans", sans-serif;
				&:hover {
					cursor: pointer;
					background: $orange;
					color: rgb(28,28,41);
				}
				&:focus {
					outline: none;
				}
			}
		}
		#portfolio {
			top: 400vh;
			text-align: center;
			img {
				height: 300vh;
			}
		}
		#blog {
			top: 700vh;
			background: red;

		}
		#contact {
			top: 800vh;
			.titlePanel {
				// background: #333;
				// background: linear-gradient(to right, rgba(255,255,255,.95), rgba(28,28,41,.95)); 
				background: linear-gradient(to right, rgba(255,153,51,.95), rgba(28,28,41,.95)); 

			}
			.contentPanel {
				background:rgba(28,28,41,.95); 
				// background: rgba(0,0,0,.8);
				text-align: center;
				ul {
					list-style-type: none;
					li {
						display: inline-block;
						margin: 10px;
						a {
							i {
								font-size: 50px;
								color: #FFF;
							}
						}
					}
				}
				input {
					width: calc(100% - 80px);
					height: 30px;
					border: none;
					border-top: 4px solid $orange;
					margin: 20px;
					padding: 20px;
					background: rgba(255,255,255,.2);
					color: #FFF;
					&::-webkit-input-placeholder {
						color: #DDD;
					}
				}
				textarea {
					width: calc(100% - 80px);
					border: none;
					resize: none;
					padding: 20px;
					margin: 0;
					border-top: 4px solid  $orange;
					margin: 20px;
					background: rgba(255,255,255,.2);
					color: #FFF;
					&::-webkit-input-placeholder {
						color: #DDD;
					}
					// outline: none;
					// box-shadow: none;
				}
				button {
					width: calc(100% - 40px);
					height: 50px;
					border: none;
					margin: 0;
					padding: 0;
					background: transparent;
					color: #FFF;
					margin: 20px;
					// background: rgba(255,153,51,.1);
					border: 3px solid $orange;
					// background: rgba(255,153,51,.55);
					&:hover {
						background: $orange;
						color: rgb(28,28,41);
						cursor: pointer;
					}

				}

			}
		}
	}
}
