@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@font-face {
  font-family: Lato;
  src: url("../../fonts/Lato/Lato-Regular.ttf"); }
body {
  font-family: Lato, sans-serif; }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  body #loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 200;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border-left: 16px solid #1c1c29;
    border-right: 16px solid #ff9933;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite; }
  body #nav-button {
    display: none;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 100; }
    body #nav-button button {
      position: relative;
      right: 200px;
      background: transparent;
      border: none;
      opacity: 0; }
      body #nav-button button .icon-span {
        display: block;
        width: 45px;
        height: 5px;
        background: #FFF;
        margin: 10px;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        -ms-transition-property: all;
        -ms-transition-duration: 0.3s;
        -ms-transition-timing-function: ease-out; }
      body #nav-button button .middle-bar {
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function: ease-out;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.1s;
        -webkit-transition-timing-function: ease-out;
        -ms-transition-property: all;
        -ms-transition-duration: 0.1s;
        -ms-transition-timing-function: ease-out; }
      body #nav-button button:focus {
        outline: none; }
      body #nav-button button:hover {
        cursor: pointer; }
    body #nav-button .active .icon-span {
      width: 55px;
      margin-right: 0; }
    body #nav-button .active .top-bar {
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -ms-transform-origin: 10% 10%;
      -webkit-transform-origin: 10% 10%;
      transform-origin: 10% 10%; }
    body #nav-button .active .middle-bar {
      opacity: 0; }
    body #nav-button .active .bottom-bar {
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -ms-transform-origin: 10% 90%;
      -webkit-transform-origin: 10% 90%;
      transform-origin: 10% 90%; }
  body #nav-lightbox {
    display: none;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background: rgba(28, 28, 41, 0.85);
    text-align: center;
    z-index: 95; }
    body #nav-lightbox ul {
      margin-right: 95px; }
      body #nav-lightbox ul li {
        margin: 25px;
        list-style-type: none;
        float: left; }
        body #nav-lightbox ul li a {
          font-size: 2em;
          text-transform: uppercase;
          letter-spacing: -40px;
          text-decoration: none;
          color: rgba(225, 225, 225, 0.6); }
        body #nav-lightbox ul li .active {
          color: #e1e1e1 !important; }
    @media screen and (max-width: 961px) {
      body #nav-lightbox ul {
        margin-right: 0;
        padding: 0; }
        body #nav-lightbox ul li {
          float: none; } }
    @media screen and (max-width: 960px) and (min-width: 768px) {
      body #nav-lightbox ul {
        margin: 200px 0 0; } }
    @media screen and (max-width: 767px) and (min-width: 576px) {
      body #nav-lightbox ul {
        margin-top: 150px; } }
    @media screen and (max-width: 575px) {
      body #nav-lightbox ul li {
        margin: 15px; }
        body #nav-lightbox ul li a {
          font-size: 1.5em; } }
    @media screen and (max-width: 575px) and (min-width: 360px) {
      body #nav-lightbox ul {
        margin-top: 150px; } }
    @media screen and (max-width: 360px) {
      body #nav-lightbox ul {
        margin-top: 100px; } }
  body #nav-circle {
    display: none;
    position: fixed;
    z-index: 100; }
    body #nav-circle ul {
      position: absolute;
      opacity: 0;
      top: 0;
      margin: 0; }
      body #nav-circle ul li {
        position: relative;
        list-style-type: none; }
        body #nav-circle ul li a {
          margin: 3px;
          display: inline-block;
          padding: 5px;
          border: 2px solid #FFF;
          border-radius: 50%; }
        body #nav-circle ul li div {
          display: none;
          position: absolute;
          top: -15px;
          left: 35px;
          background: #1c1c3c;
          color: #FFF;
          padding: 15px;
          border-radius: 40px; }
          body #nav-circle ul li div:before {
            content: " ";
            border-style: solid;
            border-width: 10px 15px 10px 0;
            border-color: transparent #1c1c3c transparent transparent;
            position: absolute;
            left: -13px; }
        body #nav-circle ul li:first-child a {
          margin-top: 0; }
        body #nav-circle ul li .active {
          border: none;
          padding: 7px;
          background: #FFF; }
        body #nav-circle ul li:hover a {
          border: none;
          padding: 7px;
          background: #FFF; }
        body #nav-circle ul li:hover div {
          display: block; }
    @media screen and (max-width: 575px) {
      body #nav-circle {
        visibility: hidden; } }
  body header {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; }
    body header video {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto; }
  body #container {
    display: none;
    position: relative;
    top: 0;
    left: 0; }
    body #container .sections {
      display: block;
      padding: 0;
      position: absolute;
      z-index: 50;
      width: 100%;
      min-height: 100vh; }
      body #container .sections .panel {
        width: 50%;
        min-height: 100vh;
        float: left; }
      body #container .sections .titlePanel {
        text-align: center; }
        body #container .sections .titlePanel h2 {
          margin: 0;
          line-height: 100vh;
          font-size: 60px;
          font-weight: lighter;
          color: #FFF;
          font-family: 'Raleway', sans-serif; }
    body #container #home {
      text-align: center;
      background: rgba(28, 28, 41, 0.85); }
      body #container #home h1 {
        margin: 0;
        line-height: 100vh;
        color: rgba(255, 255, 255, 0.8);
        font-size: 56px;
        font-weight: lighter;
        font-family: "Open Sans", sans-serif; }
        body #container #home h1 .orange {
          color: #ff9933; }
        body #container #home h1 .hidden {
          display: none; }
        @media screen and (min-width: 601px) and (max-width: 700px) {
          body #container #home h1 {
            font-size: 40px; } }
        @media screen and (min-width: 414px) and (max-width: 600px) {
          body #container #home h1 {
            font-size: 36px; } }
        @media screen and (max-width: 413px) {
          body #container #home h1 {
            font-size: 30px; } }
    body #container #about {
      top: 100vh;
      color: #555; }
      body #container #about .titlePanel {
        background: #ff9933; }
      body #container #about .contentPanel {
        background: #FFF;
        text-align: center; }
        body #container #about .contentPanel img {
          margin: 30px;
          width: 40%;
          height: auto;
          border-radius: 50%;
          box-shadow: 0 0 10px #333; }
        body #container #about .contentPanel p {
          line-height: 30px;
          font-size: 24px;
          margin: 0 100px;
          text-align: right;
          font-family: 'Open Sans', sans-serif;
          font-weight: lighter; }
          body #container #about .contentPanel p strong {
            color: #1c1c3c; }
          body #container #about .contentPanel p i {
            color: #1c1c3c; }
    body #container #skills {
      position: relative;
      top: 200vh; }
      body #container #skills .titlePanel {
        background: #1c1c29; }
      body #container #skills .contentPanel {
        position: relative;
        background: #FFF; }
        body #container #skills .contentPanel table {
          position: absolute;
          width: 100%;
          color: #333; }
          body #container #skills .contentPanel table tr {
            height: 40px; }
            body #container #skills .contentPanel table tr .title {
              width: 20%;
              text-align: right;
              font-weight: bold;
              padding-right: 15px; }
            body #container #skills .contentPanel table tr .level {
              width: 70%; }
              body #container #skills .contentPanel table tr .level div {
                height: 25px;
                background: #ff9933; }
            body #container #skills .contentPanel table tr .percent {
              width: 15%; }
          body #container #skills .contentPanel table #html .level div {
            width: 97%; }
          body #container #skills .contentPanel table #css .level div {
            width: 95%; }
          body #container #skills .contentPanel table #sass .level div {
            width: 94%; }
          body #container #skills .contentPanel table #less .level div {
            width: 82%; }
          body #container #skills .contentPanel table #bootstrapt .level div {
            width: 87%; }
          body #container #skills .contentPanel table #javascript .level div {
            width: 85%; }
          body #container #skills .contentPanel table #jquery .level div {
            width: 87%; }
          body #container #skills .contentPanel table #php .level div {
            width: 53%; }
          body #container #skills .contentPanel table #laravel .level div {
            width: 58%; }
          body #container #skills .contentPanel table #c .level div {
            width: 72%; }
          body #container #skills .contentPanel table #cpp .level div {
            width: 65%; }
          body #container #skills .contentPanel table #mysql .level div {
            width: 87%; }
          body #container #skills .contentPanel table #git .level div {
            width: 72%; }
    body #container #particles {
      top: 300vh; }
      body #container #particles #particles-js {
        width: 100%;
        height: 100vh;
        background: linear-gradient(to right, rgba(28, 28, 41, 0.8), #1c1c29, rgba(28, 28, 41, 0.8)); }
    body #container #resume {
      top: 300vh; }
      body #container #resume .sidePanel {
        width: calc( 50% - 40px );
        height: 100vh;
        float: left; }
        body #container #resume .sidePanel div p {
          color: #FFF;
          margin: 0;
          line-height: 30px;
          font-family: "Open Sans", sans-serif; }
          body #container #resume .sidePanel div p:first-child {
            color: #ff9933; }
          body #container #resume .sidePanel div p:last-child {
            font-weight: bold; }
      body #container #resume .leftPanel {
        text-align: right;
        padding-right: 40px; }
        body #container #resume .leftPanel .mb {
          margin-top: 50px; }
        body #container #resume .leftPanel .aca {
          margin-top: 150px; }
      body #container #resume .rightPanel {
        text-align: left;
        padding-left: 40px; }
        body #container #resume .rightPanel .sinam {
          margin-top: 170px; }
        body #container #resume .rightPanel .apa {
          margin-top: 150px; }
      body #container #resume .centerPanel {
        position: absolute;
        top: 65px;
        left: 50%;
        right: 50%;
        width: 1px;
        height: 490px;
        background: #FFF; }
      body #container #resume .center-circle {
        position: absolute;
        right: calc(50% - 15px);
        left: calc(50% - 15px);
        z-index: 1000;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #FFF; }
        body #container #resume .center-circle i {
          position: absolute;
          color: #1c1c29;
          top: 7px;
          left: 7px; }
      body #container #resume #mb-circle {
        top: 50px; }
      body #container #resume #sinam-circle {
        top: 170px; }
      body #container #resume #aca-circle {
        top: 290px; }
        body #container #resume #aca-circle i {
          left: 6px; }
      body #container #resume #apa-circle {
        top: 410px; }
        body #container #resume #apa-circle i {
          left: 6px; }
      body #container #resume button {
        top: 555px;
        position: absolute;
        right: calc(50% - 100px);
        left: calc(50% - 100px);
        z-index: 1000;
        width: 200px;
        height: 60px;
        line-height: 56px;
        background: transparent;
        border: 3px solid #ff9933;
        color: #ff9933;
        font-family: "Open Sans", sans-serif; }
        body #container #resume button:hover {
          cursor: pointer;
          background: #ff9933;
          color: #FFF; }
        body #container #resume button:focus {
          outline: none; }
    body #container #portfolio {
      top: 400vh;
      background: blue; }
    body #container #blog {
      top: 500vh;
      background: navy; }
    body #container #contact {
      top: 600vh;
      background: purple; }

/*# sourceMappingURL=style.css.map */
